*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    display: flex;
    
}
#main1{
    height: 740px;
   width: 750px;
   background-color: gainsboro;
}
#main1 img{
   height: 600px;
   width: 600px;
   
   margin-left: 100px;
   margin-top: 50px;

}

#main2 span{
    margin-left: 250px;
    position: relative;
    top: 100px;
    font-size: 25px;
    font-weight: bold;
}

#main2-1{
    margin-top: 200px;
    margin-left: 180px;
    height: 400px;
    width: 400px;
    background-color: rgb(242, 246, 246);
    align-items: center;
}
#main2-1 label{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    left: 50px;
    color: rgb(101, 101, 101);
}
#main2-1 button{
    margin-top: 30px;
    margin-left: 50px;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(98, 0, 255);
    color: white;
    font-size: bold;
}
#email{
    height: 40px;
    width: 300px;
    position: relative;
    left: 45px;
}
#password{
    height: 40px;
    width: 300px;
    position: relative;
    left: 45px;
}
#vehicle1{
    margin-left: 50px;
}
#main2-1 #label1{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    margin-left: 0px;
    
    color: rgb(101, 101, 101);
}